.App {
    margin: 0px;
    padding: 0px;
}

section
{
    border-color: black;
    border-style: initial;
    padding: 0 50px 0 50px;
}

a
{
    text-decoration: none;
    cursor: pointer;
}

label
{
    display: inline-block;
    align-items: left;
}